In [39]:
## original data: https://dadosabertos.mec.gov.br/prouni
import os
import pandas as pd
import numpy as np
import glob
import time
#from unidecode import unidecode

# Setting working directory

os.chdir(r'/Users/lucaspb/git-repositories/portfolio-projects/python/basedosdados/bases/br_mec_prouni.bolsas')

In [49]:
import codecs
bom_utf8 = codecs.BOM_UTF8

def fix_duplicate_bom_utf8(file, bom=bom_utf8):
    with open(file, 'rb') as f:
        data_f = f.read()

    data_finish = bom + data_f.replace(bom, b'')

    with open(file, 'wb') as f:
        f.write(data_finish)
    return

In [ ]:
# Use:
file_csv = r"input/1/pda-prouni-2020.csv" # Americanï»¿, 美国人ï»¿

fix_duplicate_= bom_utf8(file_csv)
 # file_csv  -> ï»¿American, 美国人

In [86]:
df = pd.read_csv(f'input/1/pda-prouni-2020.csv', sep=";", encoding='cp850')

In [87]:
print(df['NOME_IES_BOLSA'])

0                      UNIVERSIDADE PAULISTA
1                 UNIVERSIDADE ESTÁCIO DE SÁ
2                  FACULDADE DE QUIXERAMOBIM
3               UNIVERSIDADE SÃO JUDAS TADEU
4               UNIVERSIDADE SÃO JUDAS TADEU
                         ...
166825    CENTRO UNIVERSITÁRIO INTERNACIONAL
166826    CENTRO UNIVERSITÁRIO INTERNACIONAL
166827    CENTRO UNIVERSITÁRIO INTERNACIONAL
166828    CENTRO UNIVERSITÁRIO INTERNACIONAL
166829    CENTRO UNIVERSITÁRIO INTERNACIONAL
Name: NOME_IES_BOLSA, Length: 166830, dtype: object

In [101]:
df.to_csv('input/pda-prouni-2020.csv', sep=";", encoding='utf-8', index=False)

In [242]:
df = pd.read_csv(f'input/pda-prouni-2020.csv', sep=";", encoding='utf-8')

In [244]:
rename = {'ANO_CONCESSAO_BOLSA':'ano', 
          'ï»¿ANO_CONCESSAO_BOLSA':'ano',
          'UF_BENEFICIARIO':'sigla_uf',
          'SIGLA_UF_BENEFICIARIO_BOLSA':'sigla_uf',
          'MUNICIPIO_BENEFICIARIO':'id_municipio',
          'MUNICIPIO_BENEFICIARIO_BOLSA':'id_municipio',
          'CPF_BENEFICIARIO':'cpf',
          'CPF_BENEFICIARIO_BOLSA':'cpf',
          'SEXO_BENEFICIARIO':'sexo',
          'SEXO_BENEFICIARIO_BOLSA':'sexo',
          'RACA_BENEFICIARIO':'raca_cor',
          'RACA_BENEFICIARIO_BOLSA':'raca_cor',
          'DATA_NASCIMENTO':'data_nascimento',
          'DT_NASCIMENTO_BENEFICIARIO':'data_nascimento',
          'BENEFICIARIO_DEFICIENTE_FISICO':'beneficiario_deficiente',
          'CODIGO_EMEC_IES_BOLSA':'id_ies',
          'CAMPUS':'campus',
          'MUNICIPIO':'id_municipio_ies',
          'NOME_CURSO_BOLSA':'curso',
          'NOME_TURNO_CURSO_BOLSA':'turno_curso',
          'TIPO_BOLSA':'tipo_bolsa',
          'MODALIDADE_ENSINO_BOLSA':'modalidade_ensino' }

ordem2020 = ['sigla_uf', 'id_municipio', 'cpf', 'sexo', 'raca_cor', 'data_nascimento',
         'beneficiario_deficiente', 'id_ies', 'campus', 'id_municipio_ies', 'curso', 'turno_curso', 'tipo_bolsa', 'modalidade_ensino']


# Settings parameters for partitioning the output 

anos = [2020]

ufs = ['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG', 'MS', 'MT', 
       'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR', 'RS', 'SC', 'SE', 'SP', 'TO']

In [209]:
## chmod -R 777 output
for ano in anos:
  for uf in ufs:
    directory = 'output/ano={}/sigla_uf={}'.format(ano, uf)
    if not os.path.exists(directory):
      os.makedirs(directory)

In [245]:
df.rename(columns=rename, inplace=True)
df.drop(['NOME_IES_BOLSA', 'REGIAO_BENEFICIARIO_BOLSA', 'REGIAO_BENEFICIARIO'], errors='ignore', axis=1, inplace=True)
df['sexo'] = df['sexo'].str.upper().replace({'FEMININO':'F', 'MASCULINO':'M'})
df['sexo'] = df['sexo'].replace({'F':'1', 'M':'2'})
df['raca_cor'] = df['raca_cor'].str.upper().replace({'AMARELA':'1', 'BRANCA':'2', 'INDÍGENA':'3', 'PARDA':'4', 'PRETA':'5', 'NÃO INFORMADA':'6'})
df['beneficiario_deficiente'] = df['beneficiario_deficiente'].str.upper().replace({'SIM':'1', 'NÃO':'0'})
df['beneficiario_deficiente'] = df['beneficiario_deficiente'].str.upper().replace({'S':'1', 'N':'0'})
df['turno_curso'] = df['turno_curso'].str.upper().replace({'MATUTINO':'1', 'VESPERTINO':'2', 'NOTURNO':'3', 'INTEGRAL':'4', 'CURSO A DISTÂNCIA':'5'})
df['tipo_bolsa'] = df['tipo_bolsa'].str.upper().replace({'BOLSA INTEGRAL':'1', 'BOLSA PARCIAL 50%':'2', 'BOLSA COMPLEMENTAR 25%':'3'})
df['tipo_bolsa'] = df['tipo_bolsa'].str.upper().replace({'INTEGRAL':'1', 'PARCIAL':'2'})
df['modalidade_ensino'] = df['modalidade_ensino'].str.upper().replace({'PRESENCIAL':'1', 'EDUCAÇÃO A DISTÂNCIA':'2', 'EAD':'2'})
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'], errors='coerce')
df['data_nascimento'] = df['data_nascimento'].dt.strftime('%Y-%m-%d')

In [246]:
df['turno_curso'] = df['turno_curso'].str.upper().replace({'CURSO A DISTÃ¢NCIA':'5'})
df['turno_curso'] = df['turno_curso'].str.upper().replace({'CURSO A DISTÃ¢NCIA':'5'})
df['turno_curso'] = df['turno_curso'].str.upper().replace({'CURSO A DISTNCIA':'5'})
df['raca_cor'] = df['raca_cor'].str.upper().replace({'IND¡GENA':'3', 'NÆO INFORMADA':'6'})
df['raca_cor'] = df['raca_cor'].str.upper().replace({'INDÃ­GENA':'3', 'NÃ£O INFORMADA':'6'})

In [247]:
df.drop(['´╗┐ANO_CONCESSAO_BOLSA'], axis=1, inplace=True)

In [248]:
df.head(5)

,id_ies,id_municipio_ies,campus,tipo_bolsa,modalidade_ensino,curso,turno_curso,cpf,sexo,raca_cor,data_nascimento,beneficiario_deficiente,sigla_uf,id_municipio
0,322,IPATINGA,IPATINGA,1,2,PEDAGOGIA,5,991.XXX.XXX-91,1,4,1973-11-08,0,MG,GOVERNADOR VALADARES
1,163,FORTALEZA,EAD VIA CORPVS - CE,1,2,MARKETING,5,067.XXX.XXX-01,2,4,1987-05-13,0,CE,FORTALEZA
2,17670,QUIXERAMOBIM,FACULDADE DE QUIXERAMOBIM - UNIQ,1,1,FARMÁCIA,3,623.XXX.XXX-27,2,4,2001-07-23,0,CE,MOMBACA
3,203,SAO PAULO,PAULISTA,2,1,DIREITO,1,089.XXX.XXX-40,1,2,2003-04-04,0,BA,IBITITA
4,203,SAO PAULO,PAULISTA,1,1,DIREITO,1,173.XXX.XXX-09,1,2,1977-07-12,0,SP,SAO PAULO

In [249]:
# Setting up to replace counties names for its unique id
## Importing dataframe with counties and unique ids
id_mcp = pd.read_csv(r'/Users/lucaspb/git-repositories/portfolio-projects/python/basedosdados/assets/dir_municipio_uf.csv', sep=',', dtype='string')

In [250]:
df['id_municipio'] = df['id_municipio'].apply(lambda s: s.upper() if type(s) == str else s)
df['id_municipio_ies'] = df['id_municipio_ies'].apply(lambda s: s.upper() if type(s) == str else s)

Removing accentuation

In [252]:
cols = id_mcp.select_dtypes(include=[np.object]).columns
id_mcp[cols] = id_mcp[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))

<ipython-input-252-250f57e1b2a9>:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cols = id_mcp.select_dtypes(include=[np.object]).columns

In [ ]:
id_mcp['nome'] = id_mcp['nome'].apply(lambda x: x.replace("‘", ' ').replace("’", ' ').replace("'", ' ').replace('"', ' ').replace('`', ' ').replace('-', ' '))
id_mcp['nome'] = id_mcp['nome'].apply(lambda x: x.replace("SANT ANA DO LIVRAMENTO", 'SANTANA DO LIVRAMENTO'))

In [253]:
cols = df.select_dtypes(include=[np.object]).columns
df[cols] = df[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))

<ipython-input-253-b1c1c87739a5>:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cols = df.select_dtypes(include=[np.object]).columns

In [254]:
df['id_municipio'] = df['id_municipio'].apply(lambda x: x.replace("‘", ' ').replace("’", ' ').replace("'", ' ').replace('"', ' ').replace('`', ' ').replace('-', ' ') if type(x) == str else x)
df['id_municipio_ies'] = df['id_municipio_ies'].apply(lambda x: x.replace("‘", ' ').replace("’", ' ').replace("'", ' ').replace('"', ' ').replace('`', ' ').replace('-', ' ') if type(x) == str else x)

In [255]:
df['id_municipio'] = df['id_municipio'].apply(lambda x: x.replace("EMBU", 'EMBU DAS ARTES') if type(x) == str else x)
df['id_municipio_ies'] = df['id_municipio_ies'].apply(lambda x: x.replace("EMBU", 'EMBU DAS ARTES') if type(x) == str else x)

Droping Duplicates

In [256]:
len(df)-len(df.drop_duplicates())

109

In [257]:
df.drop_duplicates(inplace=True)

In [258]:
len(df)-len(df.drop_duplicates())

0

Merging and Renaming id_municipio

In [260]:
df = pd.merge(id_mcp, df,
                    how='right', left_on=['sigla_uf', 'nome'], right_on=['sigla_uf', 'id_municipio'])

In [261]:
df.rename(columns={'id_municipio_x':'id_municipio'}, inplace=True)
df = df[ordem2020]

In [264]:
df.head(5)

,sigla_uf,id_municipio,cpf,sexo,raca_cor,data_nascimento,beneficiario_deficiente,id_ies,campus,id_municipio_ies,curso,turno_curso,tipo_bolsa,modalidade_ensino
0,MG,3127701,991.XXX.XXX-91,1,4,1973-11-08,0,322,IPATINGA,IPATINGA,PEDAGOGIA,5,1,2
1,CE,2304400,067.XXX.XXX-01,2,4,1987-05-13,0,163,EAD VIA CORPVS - CE,FORTALEZA,MARKETING,5,1,2
2,CE,2308500,623.XXX.XXX-27,2,4,2001-07-23,0,17670,FACULDADE DE QUIXERAMOBIM - UNIQ,QUIXERAMOBIM,FARMACIA,3,1,1
3,BA,2913101,089.XXX.XXX-40,1,2,2003-04-04,0,203,PAULISTA,SAO PAULO,DIREITO,1,2,1
4,SP,3550308,173.XXX.XXX-09,1,2,1977-07-12,0,203,PAULISTA,SAO PAULO,DIREITO,1,1,1

Merging and Renaming id_municipio_ies

In [268]:
df.loc[df['id_ies'] == 163]

,sigla_uf,id_municipio,cpf,sexo,raca_cor,data_nascimento,beneficiario_deficiente,id_ies,campus,id_municipio_ies,curso,turno_curso,tipo_bolsa,modalidade_ensino
1,CE,2304400,067.XXX.XXX-01,2,4,1987-05-13,0,163,EAD VIA CORPVS - CE,FORTALEZA,MARKETING,5,1,2
32,RJ,3304557,180.XXX.XXX-76,1,2,1997-01-04,0,163,JOAO UCHOA,RIO DE JANEIRO,GESTAO AMBIENTAL,5,1,2
58,CE,2304400,612.XXX.XXX-70,2,4,1997-07-28,0,163,EAD VIA CORPVS - CE,FORTALEZA,CIENCIAS CONTABEIS,5,1,2
59,CE,2304400,615.XXX.XXX-72,2,4,1980-08-06,0,163,EAD VIA CORPVS - CE,FORTALEZA,CIENCIAS CONTABEIS,5,1,2
144,RJ,3304557,187.XXX.XXX-95,1,5,2000-09-13,0,163,JOAO UCHOA,RIO DE JANEIRO,ENFERMAGEM,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166700,CE,2304400,604.XXX.XXX-09,1,4,1994-10-21,0,163,EAD MOREIRA CAMPOS - CE,FORTALEZA,LOGISTICA,5,1,2
166702,BA,2927408,075.XXX.XXX-62,1,5,1997-05-02,0,163,EAD GILBERTO GIL - BA,SALVADOR,EDUCACAO FISICA,5,1,2
166703,RJ,3301702,150.XXX.XXX-74,2,4,1995-04-13,0,163,CENTRO IV - PRACA ONZE,RIO DE JANEIRO,ENGENHARIA CIVIL,3,1,1
166704,RJ,3303906,182.XXX.XXX-33,1,4,2000-07-09,0,163,PETROPOLIS,PETROPOLIS,BIOMEDICINA,3,1,1
166705,RJ,3303906,180.XXX.XXX-13,1,2,2002-05-30,0,163,PETROPOLIS,PETROPOLIS,BIOMEDICINA,3,1,1

We can't merge id_municipio_ies because MEC have used the same id_ies for different campus and our table id_mcp is tied to the sigla_uf which was not inserted in this table for IES.

Partitioning

In [263]:
print("Particionando ano 2020")
for uf in ufs:
    print("Particionando {} de 2020".format(uf))
    time.sleep(1)
    df_uf = df[df['sigla_uf'] == uf]
    df_uf.drop(['sigla_uf'], axis=1, inplace=True)
    exec("df_uf.to_csv('output/ano=2020/sigla_uf={}/microdados.csv', index=False, encoding='utf-8', na_rep='', float_format='%.0f')".format(uf))

Particionando ano 2020
Particionando AC de 2020

/Users/lucaspb/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Particionando AL de 2020
Particionando AM de 2020
Particionando AP de 2020
Particionando BA de 2020
Particionando CE de 2020
Particionando DF de 2020
Particionando ES de 2020
Particionando GO de 2020
Particionando MA de 2020
Particionando MG de 2020
Particionando MS de 2020
Particionando MT de 2020
Particionando PA de 2020
Particionando PB de 2020
Particionando PE de 2020
Particionando PI de 2020
Particionando PR de 2020
Particionando RJ de 2020
Particionando RN de 2020
Particionando RO de 2020
Particionando RR de 2020
Particionando RS de 2020
Particionando SC de 2020
Particionando SE de 2020
Particionando SP de 2020
Particionando TO de 2020